	@charset "utf-8";
	
	body{
		background-color:#A1C7E0;
		
	}
	h1#principal{
		color:#026E81;
		text-align:center;
	}
	h1.topico{
		color:#00ABBD;
		
	}
	h2{
		text-indent:20px;
	}
	p{
		background-color:white;
		padding:10px;
		
	}