@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --font1:Verdana, Geneva, Tahoma, sans-serif;
    --font2:"Passion One", sans-serif;
    --font3:"Sriracha", cursive;
}

body{
    font-family: var(--font1)
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    font-family: var(--font2);
    font-size: 9.8vw;
    padding-top: 50px;
}
header > p{
    padding-bottom: 50px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
section.Normal{
    background-color: white;
    color: black;
    
    
}
section.Imagem{
    box-shadow: inset 2px 2px 10px 1px rgb(32, 32, 32);
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(51, 51, 51);
}
section.Imagem p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0,0.514);
    text-shadow: 1px 1px 1px black;
    color: white;
}
section#img1{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}
section#img2{
    background-image: url('../imagens/background002.jpg');
}
section{
    font-family: var(--font3);
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}
section p{
    padding-bottom: 2em;
    
}
footer{
   background-color: black; 
   padding: 10px;
   color: white;
   text-align: center;
}