	@charset "utf8";

	
	body{
		font-family:Arial, Helvetica, sans-serif;
		font-size:20px;
		background-color:rgb(120,230,135);
	
	}
	h1{
		color:rgb(50,50,50);
	}
	h2{
		color:rgb(70,70,70);
	}
	p{
		text-align:justify;
		background-color:white;
		padding:auto;
	}
			