@charset "UTF-8";

html,body{
    background-color: rgb(35, 35, 216);
    background-image: url(../imagens/cev-portrait.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}