	
	charset "utf-8";
	
	*{
		font-family:Arial, Helvetica, sans-serif;
		height:100%;
	}
	p{
		text-align:justify;
	}
	body{
		background-image:linear-gradient(to bottom right,#01415B ,#CCEA8D );
		background-attachment:fixed;
	}
	
	main{
		background-color:white;
		max-width:500px;
		min-width:300px;
		padding:10px;
		margin:auto;
		border-radius:10px 10px 10px 10px;
		box-shadow:3px 3px 10px rgba(1, 65, 91, 99);
	}
	main>h1{
		text-align:center;
		color:#01415B;
		text-shadow:2px 1px 1px rgba(1, 65, 91, 80);
	}
	main>h2{
		color:#A6BC09;
	}	