	
	@charset "utf-8";
	
	@font-face{
		font-family:Android;
		src:url('fontes/idroid.otf') format('opentype');
		font-style:normal;
		font-weight:lighter;
	}
	:root{
		--corSombra:#1010108a;
	}
	body{
		font-family:Arial,Helvetica,sans-serif;
		background-color:#8aedba;
		min-width:300px;
		margin:0px;
		padding:0px;
		text-indent:15px;
	}
	p{
		text-align:justify;
		padding:10px;
	}
	
	/*1.Estilização do header*/
	header{
		max-width:100vw;		
		min-width:300px;
		width:100%;
		/*height: calc(256px - 3vw);*/
		height:250px;
		margin:0px auto;
		
		background-color:rgb(25 143 82);

	}
	#titulo h1{
		text-align:center;
		color:white;
		padding-top:20px;
		margin:0px 0px 10px 0px;
		text-shadow:2px 2px 5px var(--corSombra);
	}
	#titulo p{
		text-align:center;
		color:white;
		margin:25px 0px calc(5vw - 80px ) 0px;
		font-weight:100;
		text-shadow:2px 2px 5px var(--corSombra);
	}
	#naveg{
		margin-top:69px;
	}
	#naveg a{
		margin:23px 10px 5px 0px;	
		padding:0px 2px 0px 1px;	
		color:#96ffd8e8;
		font-size:14px;
		text-decoration:none;
	}
	#naveg a:hover{
		color:white;		
	}	
	#naveg a:hover::before{

		content:">";
	}
	#naveg a:hover::after{

		content:"<";
	}
	/*1.Fim Estilização do header*/
	
	/*2.Estilização do main*/
	main{
		min-width:300px;
		max-width:700px;
		width:80vw;
		background-color:white;
		margin:0px auto;
		padding:5px;
		box-shadow:2px 2px 8px var(--corSombra);
		border-radius:0px 0px 5px 5px;
		
	}
	main h1,h2{
		font-family:Android;
		color:green;
		
	}
	main picture{
		margin:auto;
	}
	main img{
		display:block;
		width:97%;
		margin:auto;		

	}
	main #logo1{
		width:100px;		
	}
	main iframe{
		display:block;
		width:97%;
		margin:auto;
		

	}
	aside h3{
		height:30px;
		background-color:#258441;
		color:white;
		margin:0px 0px 5px 0px ;
		padding:5px 0px 2px 0px;
		border-width:2px;
		border-style:solid;
		border-color:#258441;
		border-radius:10px 10px 0px 0px;		
	}
	aside{

		max-width:640px;
		min-width:200px;
		width:95%;
		background-color:#bffff8;
		padding:0px 0px 0px 0px;
		margin:20px auto;
		border-width:2px;
		border-style:solid;
		border-color:#bffff8;
		border-radius:10px 10px;
	}
	aside ul{
		list-style-type:circle;
		columns:2;
		list-style-position:inside;
	}
	footer p{
		text-align:center;
	}
	footer > p >strong{
		color:white;
	}
	footer{
		margin:30px 0px;
		background-color:#258441;
	}
	